<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificados</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <span> Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="./proyectos.html">
                        <ion-icon name="code-slash-outline"></ion-icon>
                        <span> Proyectos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="document-outline"></ion-icon>
                        <span> Certificados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span> Sobre mí</span>
                    </a>
                </li>
                <li>
                    <a href="./contacto.html">
                        <ion-icon name="mail-open-outline"></ion-icon>
                        <span> contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="par-2">
            <h3>Certificados</h3>
            <p>
                A continuación podrás ver los certificados que he logrado conceguir a trabes del tiempo de experiencia que tengo en el trabajo.
            </p>
        </div>
    </div>
    <div class="par-1">
        <h3>Laboral</h3>
        <div class="cards-container">
            <div class="card-proyect">
                <a href="../img/certificado.jpg" target="_blank">
                    <div class="card-title">
                        tegnólogo
                    </div>
                    <div class="card-img">
                        <img src="../img/certificado.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card-proyect">
                <a href="../img/certificado.jpg" target="_blank">
                    <div class="card-title">
                        tegnólogo
                    </div>
                    <div class="card-img">
                        <img src="../img/certificado.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card-proyect">
                <a href="../img/certificado.jpg" target="_blank">
                    <div class="card-title">
                        tegnólogo
                    </div>
                    <div class="card-img">
                        <img src="../img/certificado.jpg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="par-2">
        <h3>Escolar</h3>
        <div class="cards-container">
            <div class="card-proyect">
                <a href="../img/certificado.jpg" target="_blank">
                    <div class="card-title">
                        tegnólogo
                    </div>
                    <div class="card-img">
                        <img src="../img/certificado.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card-proyect">
                <a href="../img/certificado.jpg" target="_blank">
                    <div class="card-title">
                        tegnólogo
                    </div>
                    <div class="card-img">
                        <img src="../img/certificado.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card-proyect">
                <a href="../img/certificado.jpg" target="_blank">
                    <div class="card-title">
                        tegnólogo
                    </div>
                    <div class="card-img">
                        <img src="../img/certificado.jpg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Andrés Felipe Rincón Gracia | 2022
        </p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>