<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <span> Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="./proyectos.html">
                        <ion-icon name="code-slash-outline"></ion-icon>
                        <span> Proyectos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="document-outline"></ion-icon>
                        <span> Certificados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span> Sobre mí</span>
                    </a>
                </li>
                <li>
                    <a href="./contacto.html">
                        <ion-icon name="mail-open-outline"></ion-icon>
                        <span> contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="par-1">
            <h3>Contáctenos</h3>
            <p>
                En este formulario podrás contactarme para solicitar más información, hacer invitaciones a procesos laborales, solicitar ayuda o asesorías o contratos freelance.
            </p>
            <p>Por favor síentete libre de hacerme llegar tu mensaje, el cual recibiré con gusto y pronto responderé.</p>
            <small class="info-text">Al enviar este formulario aceptas nuestras <a href="./politic.html">Politicas de tratamiento de datos e información</a></p>
        </div>
        <div class="par-2 form">
            <div class="form-container">
                <h3>Formulario de contacto</h3>
                <form action="#" method="get">
                    <div class="form-group-left">
                        <div class="form-item">
                            <input type="text" name="name" id="name" placeholder="Nombre completo">
                        </div>
                        <div class="form-item">
                            <input type="email" name="email" id="email" placeholder="Correo electrónico">
                        </div>
                        <div class="form-item">
                            <select name="subject" id="subject">
                                <option value="Contacto">Contacto</option>
                                <option value="Cotización">Cotización</option>
                                <option value="Invitación">Invitación</option>
                                <option value="Petición">Petición</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-right">
                        <div class="form-item-textarea">
                            <label for="message">Mensaje</label>
                            <textarea name="message" id="message" cols="30" rows="4"></textarea>
                        </div>
                        <button class="input" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Andrés Felipe Rincón Gracia | 2022
        </p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>