<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <span> Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="./proyectos.html">
                        <ion-icon name="code-slash-outline"></ion-icon>
                        <span> Proyectos</span>
                    </a>
                </li>
                <li>
                    <a href="./certificados.html">
                        <ion-icon name="document-outline"></ion-icon>
                        <span> Certificados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span> Sobre mí</span>
                    </a>
                </li>
                <li>
                    <a href="./contacto.html">
                        <ion-icon name="mail-open-outline"></ion-icon>
                        <span> contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="par-1 politics">
            <h3>Politica de tratamiento de datos personales</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ullam non ratione! Praesentium mollitia officiis reiciendis. Quidem enim veritatis harum perferendis blanditiis rerum id vel illum. Non exercitationem quasi quae?
            Omnis dolorem fuga asperiores accusantium, ad facere, atque provident quisquam dolorum temporibus tempora, possimus culpa rem dolore rerum ducimus. Quas eius minima a nulla molestias et consequatur sunt libero numquam!
            Minus fugit autem quam quidem tempore nam sint, soluta amet blanditiis quisquam asperiores earum reiciendis doloribus velit molestias consectetur illum. Ipsa vitae assumenda aut tempora doloribus aliquid impedit numquam vero?
            Animi ab magni perferendis enim nisi cumque maxime officiis sequi quam optio architecto voluptas exercitationem nemo ut consequuntur itaque velit laborum accusantium quia sapiente quaerat, repellendus dolores. Accusantium, hic sit?
            Non, voluptatibus harum magnam sapiente quasi natus dolores et veniam aliquam deserunt dicta alias eveniet earum accusamus, ea ipsa dolorum delectus adipisci est necessitatibus! Et aperiam consequuntur vero eligendi tempore!
            Minus possimus ipsam aspernatur sequi sunt labore veniam necessitatibus expedita, cum molestiae animi asperiores laudantium vero quo ducimus debitis hic. Temporibus debitis nemo nam animi perferendis amet laudantium accusantium ab!
            Eveniet veritatis dolores iusto incidunt accusantium beatae aliquid labore quis adipisci sunt sint unde, enim, dolorem molestias impedit temporibus? Repellendus voluptatibus quos assumenda? Tenetur iusto excepturi, sed dicta quas fugit.
            Excepturi facilis deserunt obcaecati atque labore consequatur nam voluptas quidem quia aut eveniet ad velit incidunt, provident dolor cum soluta aperiam, sequi eaque iste? Dicta laborum odit nostrum doloremque itaque.
            Reprehenderit recusandae animi vitae provident cupiditate, cumque facere voluptates ut nulla omnis ipsum, minima sed sint beatae aut, doloribus dolor fugit nesciunt id odit delectus perspiciatis? Voluptate nisi debitis similique?
            Illo enim, molestias, nemo ex quod facere veritatis nesciunt doloribus, odit commodi consequuntur similique magnam distinctio consequatur qui ipsa! Dolor voluptates quod officia, perspiciatis repellat minus sequi corrupti doloribus aliquid!
            Aperiam molestiae corporis tenetur illum facilis natus at dolore excepturi obcaecati nisi officia suscipit nam ea aspernatur, velit sit, itaque possimus nulla voluptatem! Voluptatem dolor culpa incidunt quidem, reiciendis eius?
            Odit non eligendi obcaecati nostrum alias sequi repellendus exercitationem, mollitia, molestiae et quos similique deserunt corrupti voluptatem quisquam. Tenetur sunt illum inventore consequatur ipsam. Id sed nisi nostrum quos aut!
            Asperiores blanditiis quam repellat aliquam itaque ullam iure, mollitia quae tempora, numquam provident voluptatibus sequi cumque nihil minima tenetur nostrum voluptatem magni. Alias iure magni, aliquid quaerat eius atque aut?
            Dolores numquam ad quod nam amet fuga! Aspernatur ex totam dolor id cupiditate, placeat illo error velit esse labore accusantium laborum eligendi nisi, maxime aliquam accusamus eum deserunt est fuga!
            Cumque beatae reiciendis repellat facere deleniti quis doloremque enim laboriosam rerum. Molestiae, sapiente commodi beatae eos doloremque nam? Culpa natus doloribus hic quos voluptatum laborum, autem nihil voluptatibus vero porro?
            Odit similique aspernatur consequatur aliquid, veritatis hic accusamus? Debitis laboriosam quis temporibus possimus incidunt fuga, aspernatur velit ut fugit facere unde consectetur distinctio molestiae culpa porro, sit dolor libero laudantium?
            Voluptas in deleniti unde aperiam id quibusdam optio sapiente veniam, repellendus obcaecati accusantium iure consequatur maiores assumenda ea facilis? Laborum doloremque nisi, laudantium magni quasi doloribus voluptates incidunt ad voluptatem!
            Labore nihil, impedit distinctio a animi, quibusdam deleniti repellendus amet repudiandae velit minus beatae voluptate nostrum vel possimus natus iusto! Incidunt unde fugit repellendus vel dolorum voluptatibus quam excepturi reiciendis.
            Eveniet sint dicta doloribus illum quia totam sed. Praesentium similique quaerat voluptas atque enim nam sed iste consectetur, at exercitationem quisquam illum nobis eaque. Accusamus nihil excepturi praesentium autem ea!
            Nobis consectetur blanditiis odio quasi mollitia numquam molestias dicta repellendus incidunt, voluptatem aut. Dolores odit, cum ad mollitia sunt vel eveniet, magnam debitis voluptatum numquam, autem repellendus possimus omnis maiores?
            Unde molestiae distinctio explicabo quisquam quas quidem, necessitatibus ducimus dicta ut quos illo officia! Earum sequi omnis quaerat dolores itaque maxime beatae aliquam dolore. Nostrum est molestias neque quis provident?
            Quia nostrum ipsa necessitatibus veritatis unde quos, placeat, ullam, tempora possimus nemo enim ex! Suscipit corporis odit sed officiis libero tempora rerum minus nostrum, nulla sapiente ad esse similique rem.
            Error inventore fuga eos id ipsum sapiente quae corporis voluptatum cupiditate labore unde eaque eveniet rerum, adipisci libero aut nam? Impedit quae possimus labore porro aspernatur magnam aut vitae minima.
            Perspiciatis et, deserunt pariatur ullam sint ipsa a velit vel magnam beatae laborum maiores placeat officia assumenda natus laudantium quidem nemo inventore eius alias tempore. Nesciunt autem porro eos sapiente?
            Tempore sed dolores, ipsam laborum architecto error eum velit impedit? Ullam et veritatis vitae vel neque aspernatur tempora, officiis eaque cum fugiat nesciunt incidunt illum beatae! Minima nam ut vero.
            Deleniti quam doloremque repellendus tenetur. Expedita voluptate non culpa ut deleniti aliquid quam corporis natus similique cumque iusto quod, praesentium corrupti repudiandae tempore reiciendis exercitationem debitis dicta at ipsa laboriosam?
            Fuga eveniet quibusdam recusandae temporibus ea omnis est tempora libero commodi mollitia qui dignissimos rerum ex, soluta eos sint cumque iusto fugiat deleniti nulla quis? Repellendus odio pariatur porro? Velit?
            Recusandae facilis perferendis molestiae magnam aut vel consequuntur pariatur, provident nemo omnis ex eveniet corrupti! Voluptatibus eos tenetur molestiae quam possimus impedit quasi, iste qui perferendis, odio ex nulla distinctio!
            Blanditiis beatae eum dolorum reprehenderit eius laboriosam recusandae repellat libero voluptatibus amet veniam tempore maiores architecto saepe vero dicta mollitia vel, suscipit sapiente numquam inventore est omnis aperiam. Voluptates, aperiam.
            Quibusdam reiciendis suscipit recusandae, neque ipsa assumenda repellat ipsam sint accusantium eum incidunt, velit nisi aut cum corporis inventore culpa eos veniam, rerum repellendus natus voluptates quidem ratione! Beatae, cum.
            Repellendus minima qui libero iure temporibus minus sunt non totam soluta aliquam dolores dolorem sit eos laudantium ea esse cumque perferendis, ipsa odit! Consectetur, rem reprehenderit totam ex sint laudantium.
            Explicabo numquam obcaecati hic cumque accusantium quibusdam debitis, harum, nostrum id vitae maiores ipsum perspiciatis culpa adipisci optio vel? Minus nesciunt deserunt delectus numquam sequi eaque nisi pariatur nam esse.
            Vel porro, pariatur sapiente est eveniet facere commodi. Deleniti labore facilis in deserunt iste, vero laboriosam sapiente quidem velit assumenda dolorum et accusamus maxime non minima aperiam possimus reprehenderit praesentium!
            Quibusdam, ut modi. Similique corrupti consequuntur ipsam aut odio fuga doloremque magni voluptates ex cumque unde, sit laboriosam cupiditate quis, nam saepe, consectetur rerum aliquam. Molestias porro dolor error amet.
            Atque, amet! Consequatur eveniet dolorum ratione sequi obcaecati aperiam libero quia aspernatur modi fugiat, doloremque ullam quos deleniti culpa nesciunt et sit porro veritatis adipisci quis! Commodi vitae nobis veniam.
            Pariatur, tempora. Similique tempora pariatur odio cum! Qui nisi corrupti ut. Recusandae cumque impedit praesentium! Quidem repellendus tempore tenetur magni rerum pariatur explicabo officia, aut, nobis a suscipit unde velit.
            Corporis magnam fugiat quaerat perspiciatis deserunt. Esse, aperiam sequi. Repellendus dolore incidunt, natus exercitationem amet recusandae blanditiis vitae quae velit nihil aspernatur fugit! Deleniti tempora mollitia nulla modi maxime omnis.
            Quia optio mollitia eum, dignissimos hic reiciendis incidunt doloribus fugiat molestias aspernatur fugit, ea nesciunt deleniti similique ipsum corrupti error voluptatibus aperiam deserunt quisquam explicabo nobis temporibus tempora. Quod, commodi.
            Deleniti dignissimos eligendi commodi nisi magnam harum non, enim omnis possimus ut eius! Quod itaque at porro. Quia quasi placeat eaque, amet nam ducimus voluptatibus a consequuntur. Eos, iusto eum.
            Dicta expedita ipsa amet? Dolore provident aut incidunt minus. Itaque nostrum ea pariatur placeat impedit recusandae enim, ad, possimus voluptatem necessitatibus optio fugiat laborum dolore omnis vel obcaecati ratione nemo.
            Nisi culpa quo quas impedit aut. Debitis beatae, rem eius accusantium dolore soluta quod optio earum cum? Iste neque placeat, repellendus dolore totam laboriosam voluptate, eius veritatis dicta illo nobis.
            Amet autem doloremque illum? Quos, natus veniam? Commodi quae nulla nobis voluptatum, dolorem quisquam labore voluptatibus asperiores distinctio accusamus voluptate libero soluta tenetur minima voluptas a aliquam, illum in expedita!
            Itaque delectus ut sunt ea adipisci similique at veritatis, soluta aliquid magni voluptates architecto hic velit iure impedit magnam odit exercitationem aut voluptatibus quibusdam culpa iusto voluptate amet! Suscipit, sapiente.
            Ea sapiente temporibus doloremque magni adipisci recusandae. Doloremque temporibus facere ea dignissimos a dolorum? Quisquam nostrum deserunt dolorem, quae reprehenderit quibusdam eos. Amet distinctio alias excepturi, sapiente dolorum necessitatibus nulla.
            Adipisci eveniet esse ea debitis. Dolorem explicabo culpa in nulla! Beatae ea velit illo a rerum. Fuga harum, temporibus nulla qui velit tempora hic a vel, necessitatibus sint aliquid repudiandae.
            Delectus maxime sed voluptates, natus accusantium facilis! Impedit totam atque deleniti perferendis, ipsa alias non iusto suscipit ea laborum illo, illum fugiat, culpa unde. Ad excepturi vitae hic rerum eius!
            Perspiciatis aut ratione, maiores at tempore pariatur id magnam ipsa aliquid deleniti alias similique a natus veniam aliquam sequi reiciendis voluptatibus soluta aperiam facere nihil praesentium itaque consectetur. Ipsa, explicabo?
            Aut, est hic accusantium provident voluptatum deserunt, saepe similique obcaecati quibusdam dolores, numquam odio. Doloremque, sed esse? Quibusdam at quae, modi fuga cumque natus, nulla obcaecati delectus itaque, debitis perferendis.
            Quod, iste accusamus veritatis id, vel explicabo culpa praesentium aspernatur mollitia voluptatum, odio nulla. Ducimus dolore vel, numquam autem eveniet debitis delectus unde incidunt quisquam, magnam tenetur aspernatur distinctio quaerat?
            Cum minus dolores praesentium illo voluptatum laudantium ut voluptatibus sit. Quidem eius ab culpa, non debitis quisquam omnis tempore harum aut pariatur? Tempora quidem sapiente nam dolore quos delectus iure!</p>
        </div>
    </div>
    <footer>
        <p>
            Andrés Felipe Rincón Gracia | 2022
        </p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>