<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <span> Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="./proyectos.html">
                        <ion-icon name="code-slash-outline"></ion-icon>
                        <span> Proyectos</span>
                    </a>
                </li>
                <li>
                    <a href="./certificados.html">
                        <ion-icon name="document-outline"></ion-icon>
                        <span> Certificados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span> Sobre mí</span>
                    </a>
                </li>
                <li>
                    <a href="./contacto.html">
                        <ion-icon name="mail-open-outline"></ion-icon>
                        <span> contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="par-1">
            <h3>Proyectos</h3>
            <p>En esta p+agina estás a punto de ver mis proyectos más destacados para poder conocer mi trabajo y ver un poco de mi experiencia en el campo.</p>
            <p>Encontrarás unas tarjetas con los proyectos más importantes y una breve descripción además de una URL del sitio en producción.</p>
            <p>En muchos de estos proyectos no trabajé solo, sin embargo hubo una amplia participación en el mismo.</p>
        </div>
        <div class="par-2">
            <h3>php</h3>
            <div class="cards-container">
                <div class="card-proyect">
                    <a href="https://apps.saibher.com" target="_blank">
                        <div class="card-title">
                            Apps saibher
                        </div>
                        <div class="card-img">
                            <img src="/img/appsSaibher.jpg">
                        </div>
                        <div class="card-text">
                            <p>Fue creada con el fin de facilitar mi propio trabajo diario con pequeñas apps genéricas, pero efectivas. Entre las cuales tenemos un gestor de contraseñas y un gestor de notas rápidas.</p>
                        </div>
                    </a>
                </div>
                <div class="card-proyect">
                    <a href="https://apps.saibher.com" target="_blank">
                        <div class="card-title">
                            Apps saibher
                        </div>
                        <div class="card-img">
                            <img src="/img/appsSaibher.jpg">
                        </div>
                        <div class="card-text">
                            <p>Fue creada con el fin de facilitar mi propio trabajo diario con pequeñas apps genéricas, pero efectivas. Entre las cuales tenemos un gestor de contraseñas y un gestor de notas rápidas.</p>
                        </div>
                    </a>
                </div>
                <div class="card-proyect">
                    <a href="https://apps.saibher.com" target="_blank">
                        <div class="card-title">
                            Apps saibher
                        </div>
                        <div class="card-img">
                            <img src="/img/appsSaibher.jpg">
                        </div>
                        <div class="card-text">
                            <p>Fue creada con el fin de facilitar mi propio trabajo diario con pequeñas apps genéricas, pero efectivas. Entre las cuales tenemos un gestor de contraseñas y un gestor de notas rápidas.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="par-1">
            <h3>Drupal</h3>
            <div class="cards-container">
                <div class="card-proyect">
                    <a href="https://saibher.com" target="_blank">
                        <div class="card-title">
                            Saibher
                        </div>
                        <div class="card-img">
                            <img src="/img/appsSaibher.jpg">
                        </div>
                        <div class="card-text">
                            <p>Fue creada con el fin de facilitar mi propio trabajo diario con pequeñas apps genéricas, pero efectivas. Entre las cuales tenemos un gestor de contraseñas y un gestor de notas rápidas.</p>
                        </div>
                    </a>
                </div>
                <div class="card-proyect">
                    <a href="https://saibher.com" target="_blank">
                        <div class="card-title">
                            Saibher
                        </div>
                        <div class="card-img">
                            <img src="/img/appsSaibher.jpg">
                        </div>
                        <div class="card-text">
                            <p>Fue creada con el fin de facilitar mi propio trabajo diario con pequeñas apps genéricas, pero efectivas. Entre las cuales tenemos un gestor de contraseñas y un gestor de notas rápidas.</p>
                        </div>
                    </a>
                </div>
                <div class="card-proyect">
                    <a href="https://saibher.com" target="_blank">
                        <div class="card-title">
                            Saibher
                        </div>
                        <div class="card-img">
                            <img src="/img/appsSaibher.jpg">
                        </div>
                        <div class="card-text">
                            <p>Fue creada con el fin de facilitar mi propio trabajo diario con pequeñas apps genéricas, pero efectivas. Entre las cuales tenemos un gestor de contraseñas y un gestor de notas rápidas.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="par-2">
            <h3>Otros proyectos</h3>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Tecnología</th>
                            <th>Proyecto</th>
                            <th>Url</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                        <tr>
                            <td>Php</td>
                            <td>Proyecto 1</td>
                            <td><a href="https://saibher.com" target="_blank" rel="noopener noreferrer">https://saibher.com</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Andrés Felipe Rincón Gracia | 2022
        </p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>